---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyD6VWaB_lPgozgxdsngBCASQx3Tgr7EvV8&part=snippet&q=Mr.+History+laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"xPq69ICew_E-YeDAwckhJ1vZKJ0\",\n
        \ \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 5\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"g_AANaDO0PP_y9-nAEiKyK7DquE\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"uw8hjVqxMXw\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-08-29T10:13:10Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n
        \       \"title\": \"A Super Quick History of Laos\",\n        \"description\":
        \"Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/
        RTB45: ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Mr History\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2021-08-29T10:13:10Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"qNOXiNafgoiows9ZkPjksmv3IRM\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"eXSs0QJ3Dww\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-05-04T05:56:51Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n
        \       \"title\": \"A Super Quick History of Myanmar (AKA Burma)\",\n        \"de[...]
