---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=85b0702f&app_key=e4a9831769aa03e9ddaa98ad883877d2&q=aieudhabsdfi&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Mon, 14 Nov 2022 16:08:43 GMT
recorded_with: VCR 6.1.0
