---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyD6VWaB_lPgozgxdsngBCASQx3Tgr7EvV8&part=snippet&q=Mr.+History+%22hiauhdfy3985gfaiwy4egacsdiuhr%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 14 Nov 2022 22:36:55 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=%22hiauhdfy3985gfaiwy4egacsdiuhr%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID VhatcGTBk_bsuI1-zvEafNyLTtq-1E6I3oY7xGQz9sw
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-unsplash-version:
      - v1
      warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      x-total:
      - '0'
      x-per-page:
      - '10'
      content-language:
      - en
      etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      x-ratelimit-limit:
      - '50'
      x-ratelimit-remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Mon, 14 Nov 2022 22:36:55 GMT
recorded_with: VCR 6.1.0
